<h1>Hello</h1>
<img src="" name="photo1" id="photo1">
<canvas id="canvas" name="photo" width=400 height=400></canvas>
<input type="button" value="Analizar" onclick="submit()">

<video id="player" name="uno" width=400 height=400 controls autoplay></video>
<button id="capture" name="dos">Capturar</button>



<script>
    const player = document.getElementById('player');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    const captureButton = document.getElementById('capture');

    const constraints = {
        video: true,
    };

    captureButton.addEventListener('click', () => {
        // Draw the video frame to the canvas.
        context.drawImage(player, 0, 0, canvas.width, canvas.height);

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
        });
    });

    async function submit() {
        alert("Imagen enviada para analizar");
        let imageBlob = await new Promise(resolve => canvas.toBlob(resolve, 'image/png'));
        let formData = new FormData();
        formData.append("photo", imageBlob, "imagen.jpg");
        console.log(imageBlob);

        let response = await fetch('/api', {
            method: 'POST',
            body: formData
        });
        let result = await response.json();
        alert(result.clase);
    };

    // Attach the video stream to the video element and autoplay.
    navigator.mediaDevices.getUserMedia(constraints)
        .then((stream) => {
            player.srcObject = stream;
        });

</script>