<h1>Hello</h1>
<form method="POST"  enctype="multipart/form-data">

    <video id="player" name="uno" controls autoplay></video>
    <button id="capture" name="dos">Capture</button>
    <input type="image" id="image" name="photo">
    <canvas id="canvas" name="tres" width=320 height=240 "></canvas>
    

</form>

<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');

  const constraints = {
    video: true,
  };

  captureButton.addEventListener('click', () => {
    // Draw the video frame to the canvas.
    alert("hola");
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    canvas.toBlob(function(blob) {
  var newImg = document.createElement("img"),
      url = URL.createObjectURL(blob);

  newImg.onload = function() {
    // no longer need to read the blob so it's revoked
    URL.revokeObjectURL(url);
  };

  newImg.src = url;
  newImg.name = "photo"
  document.body.appendChild(newImg);
});
    alert("hola");

    // player.srcObject.getVideoTracks().forEach(track => track.stop());
  });

  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });
</script>